ion-input.signup-custom {
    --background: #DAE6DE;
    --color: #5C615E;
    --placeholder-color: #5C615E;
    --placeholder-opacity: 1;
  
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 15px;
    height: 40px;
}

ion-input.login-custom2 {
    --background: #DAE6DE;
    --color: #5C615E;
    --placeholder-color: #5C615E;
    --placeholder-opacity: 1;

    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;

    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 15px;
}

.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-box-container {
    color: #EDFAF2;
    text-transform: none;
}

.img-custom {
    width: 68%;
    height: auto;
    align-self: center;
    margin-bottom: 25px;
}

.extra-buttons {
    text-decoration: none;
    color: #2C2E2D;
    align-self: center;
    margin-top: 25px;
}

.checkbox-container {
    margin-left: 31px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.checkbox1 {
    color: #5C615E;
}

.checkbox2 {
    color: #E26D53;
}

ion-checkbox::part(container) {
    border-radius: 0px;
    border: 1px solid #BDC7C1;
}

ion-checkbox {
    --checkbox-background-checked: #879939;
}

.error-container {
    position: relative;
    overflow: visible;
    z-index: 2;
    margin-top: 20px;
    padding-top: 20px;
}

.error-message11 {
    color: #E26D53;
    position: absolute;
    top: -5px;
    left: 30px;
    font-size: 12px;
    z-index: 100;
}

.error-message12 {
    color: #E26D53;
    position: absolute;
    top: 52px;
    left: 30px;
    font-size: 12px;
    z-index: 100;
}

.error-message13 {
    color: #E26D53;
    position: absolute;
    top: 108px;
    left: 30px;
    font-size: 12px;
    z-index: 100;
}

.error-message14 {
    color: #E26D53;
    position: absolute;
    top: 161px;
    left: 30px;
    font-size: 12px;
    z-index: 100;
}

.error-message15 {
    color: #E26D53;
    position: absolute;
    top: 215px;
    left: 30px;
    font-size: 12px;
    z-index: 100;
}

.error-message16 {
    color: #E26D53;
    position: absolute;
    top: 269px;
    left: 30px;
    font-size: 12px;
    z-index: 100;
}

.error-message17 {
    color: #E26D53;
    position: absolute;
    top: 323px;
    left: 30px;
    font-size: 12px;
    z-index: 100;
}
